{:gin.http/server {:jetty-spec {:host #str GIN_HOST
                                :port #int GIN_PORT}
                   :handler #ref :gin.rpc/handler}
 :gin.rpc/handler {:farseer-spec {}
                   :metastore #ref :gin.storage/metastore
                   :hive #ref :gin.storage/hive
                   :hdfs #ref :gin.storage/hdfs}
 :gin.storage/metastore {:jdbc-spec {:dbtype "postgres"
                                     :dbname "hive"
                                     :host #str HIVE_METASTORE_HOST
                                     :port #int HIVE_METASTORE_PORT
                                     :user #str HIVE_METASTORE_USERNAME
                                     :password #str HIVE_METASTORE_PASSWORD}
                         :hikari-spec {:minimumIdle 1}}
 :gin.storage/hive {:jdbc-spec {:classname "org.apache.hive.jdbc.HiveDriver"
                                :dbtype "hive2"
                                :host #str HIVE_HOST
                                :port #int HIVE_PORT
                                :user #str HIVE_USERNAME
                                :password #str HIVE_PASSWORD}
                    :hikari-spec {:minimumIdle 1}}
 :gin.storage/hdfs {:hadoop-spec {"fs.defaultFS" #str HADOOP_DEFAULT_FS
                                  "fs.permissions.umask-mode" "0002"
                                  "hadoop.job.ugi" #str HADOOP_JOB_UGI}}}