{:gin.ioc/http {:jetty-spec {:host #str GIN_HOST
                             :port #int GIN_PORT}
                :handler #ref :gin.ioc/rpc}
 :gin.ioc/rpc {:farseer-spec {}
               :metastore #ref :gin.ioc/metastore
               :hive #ref :gin.ioc/hive
               :hdfs #ref :gin.ioc/hdfs}
 :gin.ioc/hdfs {:hadoop-spec {:namenodes [{:host #str HADOOP_NAMENODE_ACTIVE
                                           :fs-metadata-port 8020
                                           :web-ui-port 50070}
                                          {:host #str HADOOP_NAMENODE_PASSIVE
                                           :fs-metadata-port 8020
                                           :web-ui-port 50070}]
                              :user #str HADOOP_PROXY_USER
                              :props {"fs.permissions.umask-mode" "0002"}}}
 :gin.ioc/metastore {:jdbc-spec {:dbtype "postgres"
                                 :dbname "hive"
                                 :host #str HIVE_METASTORE_HOST
                                 :port #int HIVE_METASTORE_PORT
                                 :user #str HIVE_METASTORE_USER
                                 :password #str HIVE_METASTORE_PASS}
                     :hikari-spec {:minimumIdle 1}}
 :gin.ioc/hive {:jdbc-spec {:classname "org.apache.hive.jdbc.HiveDriver"
                            :dbtype "hive2"
                            :host #str HIVE_HOST
                            :port #int HIVE_PORT
                            :user #str HIVE_USER
                            :password #str HIVE_PASS}
                :hikari-spec {:minimumIdle 1}}}
